#!/bin/zsh
#
# podman.rc - All the configuration for Docker and podman
export PODMAN_REGISTRY="docker.io/gautada"
export PODMAN_BUILD_TAG="dev"

# Check that podman application is installed if not go ahead and install the
# application

# install_package() {
#  set -xue
#  local PACKAGE="${1}"
#  local COMMAND="$(which ${PACKAGE})"
#  local FOUND="${?}"
#  if [ 0 -ne $FOUND ] ; then
#   if [ "Darwin" == "$(/usr/bin/uname)" ] ; then
#    /opt/homebrew/bin/brew install podman
#   else
#     echo "Unable to install package(${PACKAGE}"
#   fi
#  echo "Installed package(${PACKAGE}) check ${COMMAND})
#  set +xue
# }


# export DOCKER_HOST="tcp://podman.gautier.org:2375"
# [p...] Podman **NOTE**: Clients
alias pmb="podman-build ${@}" #  $(pwd | awk -F'/' '{print $NF}')"
alias pmc="podman rmi --force --all"
alias pmi="podman images"
alias pmr="podman-run ${@}"
alias pme="podman-exec ${@}"
alias pms="podman-stop"
# alias pmr="podman-run $(pwd | awk -F'/' '{print $NF}')"
# alias pe="podman-exec $(pwd | awk -F'/' '{print $NF}')"

podman-install() {
  # Run a local version of podman on the mac using `container` to run
  # the podman container.
  /opt/homebrew/bin/container run --detach --name podman \
    --publish 2375:2375 --publish 8080:8080 --publish 8443:8443 --rm \
    --volume "${HOME}/.cache/containers/backup /mnt/volumes/backup" \
    --volume "${HOME}/.cache/containers/configuration /mnt/volumes/configuration" \
    --volume "${HOME}/.cache/containers/data /mnt/volumes/container" \
    --volume "${HOME}/.cache/containers/secrets /mnt/volumes/secrets" \
  docker.io/gautada/podman:latest
}

podman-build() {
 local OS="$(uname -s)"
 local image="$(pwd | awk -F'/' '{print $(NF-1)}')"
 # podman will build use the `.args` file to set params
 local argfile=".args"
 touch "${argfile}" 
 # parse the args file if we want to use that 
 build_args=()
 while IFS= read -r line; do
  [[ -z $line || $line == \#* ]] && continue
  build_args+=(--build-arg "$line")
 done < ".args" 
 local _cmd=""
 if [ "Darwin"=="${OS}" ] ; then 
  echo "***** Special Build Commands for MacOS:container(cli)"
  _cmd+="container build "
  _cmd+="${build_args[@]} "
 else
  # Default podman
  _cmd+="podman build --build-arg-file ${argfile} --file Containerfile "
 fi
 _cmd+="--tag ${PODMAN_REGISTRY}/${image}:${PODMAN_BUILD_TAG} "
 _cmd+="${@} ."
 echo "${_cmd}"
 echo "----------------------------------------"
 eval "${_cmd}"
}

podman-run() {
 local image="$(pwd | awk -F'/' '{print $(NF-1)}')"
 local envfile=".env"
 touch "${envfile}"
 local _cmd="" 
 if [ "Darwin"=="${OS}" ] ; then 
  echo "***** Special Run Commands for MacOS:container(cli)"
  _cmd+="container run "
 else
  _cmd+="podman run "
  podman volume ls -q | while IFS= read -r _volume; do
   _cmd+=" --volume ${_volume}:/mnt/volumes/${_volume:l}"
  done
 fi
 _cmd+="--env-file ${envfile} --name ${image} --publish 8080:8080 --rm ${@}"
 _cmd+=" docker.io/gautada/${image}:dev"
 echo "${_cmd}"
 echo "----------------------------------------"
 eval "${_cmd}"
}

podman-exec() {
 # local image="$(pwd | awk -F'/' '{print $NF}')"
 local image="$(pwd | awk -F'/' '{print $(NF-1)}')"
 echo "----------------------------------------"
 local _cmd="podman exec --interactive --tty ${image} ${@}"
 echo "${_cmd}"
 eval "${_cmd}"
}

podman-stop() {
 # local image="$(pwd | awk -F'/' '{print $NF}')"
 local image="$(pwd | awk -F'/' '{print $(NF-1)}')"
 echo "----------------------------------------"
 local _cmd="podman stop ${image}"
 echo "${_cmd}"
 eval "${_cmd}"
}




# podman-run() {
#  # Generic podman build use the `.arg` file to set params
#  echo "${1}"
#  # echo "-------------------------"
#  ENV_FILE=".env"
#  # file does not exists
#  if [ ! -f "$ENV_FILE" ]; then
#     touch "$ENV_FILE"
#  fi
#  _CMD="podman run \
#  --env-file '${ENV_FILE}' \
#  --detach \
#  --name '${1}' \
#  --publish 8080:8080 \
#  --rm \
#  "
#  _PODMAN_VOLUMES="${HOME}/.cache/podman/volumes"
#  for subdir in "${_PODMAN_VOLUMES}"/*(/) ; do
#   _volume="${subdir##*/}"
#   _CMD+="--volume ${_volume}:/mnt/volumes/${_volume:l} "
#  done
#  _CMD+="'${1}:dev'"
#  echo "${_CMD}"
#  # eval "${_CMD}"
#  # echo "Running container ${1}"
#  unset _CMD
# }

# --volume Secrets:/mnt/volumes/secrets \

# podman-exec() {
#  _CMD="podman exec \
#  --interactive \
#  --tty \
#  '${1}' /bin/sh"
#  echo "${_CMD}"
#  eval "${_CMD}"
#  unset _CMD
# }

