#!/bin/zsh
#
# starship.rc - Provides the basic setup for starship

STARSHIP_APP="/opt/homebrew/bin/starship"
if [ ! -e "${STARSHIP_APP}" ] ; then
 /opt/homebrew/bin/brew install starship
fi

# Make sure the proper fonts are installed
# brew tap homebrew/cask-fonts -- not used anymore
STARSHIP_FONT="${HOME}/Library/Fonts/FiraCodeNerdFontMono-Regular.ttf"
if [ ! -e "${STARSHIP_FONT}" ] ; then
 /opt/homebrew/bin/brew install --cask font-fira-code-nerd-font
fi

CONFIG_FOLDER="${HOME}/.config/starship"
TARGET_FOLDER="${HOME}/.local/share/dotfiles/public/starship"
dotfiles_config_folder $CONFIG_FOLDER $TARGET_FOLDER

CONFIG_FILE="${CONFIG_FOLDER}/starship.toml"
dotfiles_file_exists $CONFIG_FILE

STARSHIP="$(which starship)"
# From the installation instructions at https://starship.rs/guide/#🚀-installation
if [[ -e "$STARSHIP" ]]; then
    # From the installation instructions at https://starship.rs/guide/#🚀-installation
    # modified to be more specific
    eval "$(${STARSHIP} init zsh)"
    export STARSHIP_CONFIG="${CONFIG_FILE}"
else
    echo "Starship is not installed, defaulting to default MacOS prompt"
fi
