#!/bin/zsh

# [bat](https://github.com/sharkdp/bat) is a cat(1) clone 
# with syntax highlighting and Git integration.
alias cat="/opt/homebrew/bin/bat --force-colorization --paging=always"
alias _cat="/bin/cat"

alias cc="/opt/homebrew/bin/bat --plain ${1} | pbcopy"

export BAT_THEME="catppuccin-macchiato"
