#!/bin/zsh

# Set the new .zcomp directory
ZSH_COMPDIR=~/.cache/zsh/comp

# Make sure the parent directory is there
mkdir -p "$ZSH_COMPDIR"

# Ensure the completion system is loaded
# **Note**: `autoload` is a zsh command
autoload -Uz compinit

# Set the new .zcompdump location
ZCOMPDUMP="${ZSH_COMPDIR}/dump"

# Initialize completion with the new location
compinit -d "$ZCOMPDUMP"

# Precompile for faster startup
zcompile "$ZCOMPDUMP"

# Enable kubectl completion if not already enabled
source <(/opt/homebrew/bin/kubectl completion zsh)
