#!/bin/zsh
# Print a colorful log message 
zshlog 'i' "Loading: $(basename $0)"

# fzf is a general-purpose command-line fuzzy finder.

# Set up fzf key bindings and fuzzy completion
source <(/opt/homebrew/bin/fzf --zsh)

# Overload find with fzf and preview
alias find='/opt/homebrew/bin/fzf --preview "/opt/homebrew/bin/bat --style=numbers --color=always {}"'

# Legacy command
alias _find="/usr/bin/find"
