#!/bin/zsh

# fzf is a general-purpose command-line fuzzy finder.
#
# ## Notes:
# ---
# - Add a header to the fzf session via `--header`
# - Add a prompt to the fzf query field via `--prompt`

# Set up fzf key bindings and fuzzy completion
source <(/opt/homebrew/bin/fzf --zsh)

# Overload find with fzf and preview
alias find='/opt/homebrew/bin/fzf --preview "/opt/homebrew/bin/bat --style=numbers --color=always {}"'

# Legacy command
alias _find="/usr/bin/find"
