#!/bin/zsh
#
# git.rc - All configuration and aliases for git.

dotfiles_does_not_exist "${HOME}/.gitconfig"
dotfiles_does_not_exist "${HOME}/.git-credentials"

CONFIG_FOLDER="${HOME}/.config/git"
TARGET_FOLDER="${HOME}/.local/share/dotfiles/private/git"
dotfiles_config_folder $CONFIG_FOLDER $TARGET_FOLDER

export GIT_CONFIG="${CONFIG_FOLDER}/config"
dotfiles_file_exists $GIT_CONFIG

export GIT_CREDENTIALS="${CONFIG_FOLDER}/credentials"
dotfiles_file_exists $GIT_CREDENTIALS

GIT_AUTH_CERT="${CONFIG_FOLDER}/auth.crt"
dotfiles_file_exists $GIT_AUTH_CERT

GIT_AUTH_KEY="${CONFIG_FOLDER}/auth.key"
dotfiles_file_exists $GIT_AUTH_KEY

# GIT Environment Aliases
alias gs='git status'
alias ga='git add'
alias gp='git push'

# Less frequently used git aliases
# alias gpo='git push origin'
# alias gtd='git tag --delete'
# alias gtdr='git tag --delete origin'
# alias gr='git branch -r'
# alias gplo='git pull origin'
# alias gb='git branch '
alias gc='git commit -am'
# alias gd='git diff'
# alias gco='git checkout '
# alias gl='git log'
# alias gr='git remote'
# alias grs='git remote show'
# alias glo='git log --pretty="oneline"'
# alias glol='git log --graph --oneline --decorate'
