#a!/bin/zsh
#
# java.rc - All the OpenJDK resources needed.

verify_symlink() {
 local target="$1"
 local symlink="$2"

 if [ ! -L "$symlink" ] ; then
  local LM="Symlink($symlink) does not exist."
  zshlog "Error" "$LM"
  return 1
 fi
 if [ "$(readlink "$symlink")" != "$target" ]; then 
  local LM="Symlink($symlink) points to a invalid target($target)."
  zshlog "Error" "$LM"
  return 1
 fi
 return 0
}

# JAVA_VERSION="21"
# export JAVA_HOME="/opt/homebrew/opt/openjdk@${JAVA_VERSION}"
export JAVA_HOME="/opt/homebrew/opt/openjdk"

if [ ! -e "${JAVA_HOME}" ] ; then
 # /opt/homebrew/bin/brew install "openjdk@${JAVA_VERSION}"
 /opt/homebrew/bin/brew install "openjdk"
fi

# For the system Java wrappers to find this JDK, symlink it with
TARGET="${JAVA_HOME}/libexec/openjdk.jdk"
# SYMLINK="/Library/Java/JavaVirtualMachines/openjdk-${JAVA_VERSION}.jdk"
SYMLINK="/Library/Java/JavaVirtualMachines/openjdk-23.jdk"
verify_symlink $TARGET $SYMLINK
if [ $? -ne 0 ] ; then
 zshlog "Error" "Create symlink: sudo ln -fnsv ${TARGET} ${SYMLINK}"
fi

# Add java binaries to path
#   echo 'export PATH="/opt/homebrew/opt/openjdk@21/bin:$PATH"' >> /Users/agautier/.config/zsh/.zshrc
export PATH="${JAVA_HOME}/bin:${PATH}"

# For compilers to find openjdk@21 you may need to set:
export CPPFLAGS="-I${JAVA_HOME}/include"


