#!/bin/zsh

python_activate() {
    if [ -d "./.venv" ]; then
        source ./.venv/bin/activate
    else
        source ~/.cache/local/bin/activate
    fi
}
# Python Environment Aliases
alias ~~="deactivate"                       # Deactivate the current venv
