#!/bin/zsh
# Print a colorful log message 
zshlog 'i' "Loading: $(basename $0)"

# Resources for managing and setup of the zsh shell.
# source $HOME/.config/zsh/env
# source $ZDOTDIR/aliases
# source $ZDOTDIR/prompt

# Reload zsh shell
alias reload="source ~/.zshrc"

zsh_environment_refresh() {
 current_dir="$(pwd)"
 echo "[INFO] Current directory: ${current_dir}"
 cd "${HOME}/.config/repo/public"
 git pull
 echo "[INFO] Git pull (PUBLIC) exit value: ${?}"
 cd "${HOME}/.config/repo/private"
 git pull
 echo "[INFO] Git pull (PRIVATE) exit value: ${?}"
 reload
 cd "${current_dir}"
}

alias refresh="zsh_environment_refresh"

